<html>
  <head>
    <title>Admin Campers</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
  </head>

  <body>
    <p><a href="/admin">Back to the main admin page</a></p>

    <h2> Registered Campers </h2>

    {% for camper in registered_campers %}
    <form action="/admin/camper/editstatus" method="post">
      <input type="hidden" name="key" value="{{ camper.key }}"/>
      {{ camper.realname }} - {{ camper.email }} 
      <select name="status">
	<option></option>
	<option value='accepted'>Accept</option>
	<option value='rejected'>Reject</option>
	<option value='waitlisted'>Waitlist</option>
      </select>
      <input type="submit" action="/admin/camper/editstatus" value="Do It!"/>
    </form>
    {% endfor %}

    <p><a href="/admin">Back to the main admin page</a></p>    
    <h2> Accepted Campers </h2>
    {% for camper in accepted_campers %}
    <form action="/admin/camper/editstatus" method="post">
      <input type="hidden" name="key" value="{{ camper.key }}"/>
      {{ camper.realname }} - {{ camper.email }} 
      <select name="status">
	<option></option>
	<option value='accepted'>Accept</option>
	<option value='rejected'>Reject</option>
	<option value='waitlisted'>Waitlist</option>
      </select>
      <input type="submit" action="/admin/camper/editstatus" value="Do It!"/>
    </form>
    {% endfor %}


    <p><a href="/admin">Back to the main admin page</a></p>    
    <h2> Waitlisted Campers </h2>
    {% for camper in waitlisted_campers %}
    <form action="/admin/camper/editstatus" method="post">
      <input type="hidden" name="key" value="{{ camper.key }}"/>
      {{ camper.realname }} - {{ camper.email }} 
      <select name="status">
	<option></option>
	<option value='accepted'>Accept</option>
	<option value='rejected'>Reject</option>
	<option value='waitlisted'>Waitlist</option>
      </select>
      <input type="submit" action="/admin/camper/editstatus" value="Do It!"/>
    </form>
    {% endfor %}


    <p><a href="/admin">Back to the main admin page</a></p>    
    <h2> Rejected Campers </h2>
    {% for camper in rejected_campers %}
    <form action="/admin/camper/editstatus" method="post">
      <input type="hidden" name="key" value="{{ camper.key }}"/>
      {{ camper.realname }} - {{ camper.email }} 
      <select name="status">
	<option></option>
	<option value='accepted'>Accept</option>
	<option value='rejected'>Reject</option>
	<option value='waitlisted'>Waitlist</option>
      </select>
      <input type="submit" action="/admin/camper/editstatus" value="Do It!"/>
    </form>
    {% endfor %}


    <p><a href="/admin">Back to the main admin page</a></p>    
  </body>
</html>
