{% extends "main.html" %}

{% block subtitle %}
Classroom Schedule
{% endblock %}

{% block content %}
<div id="pagecopy"> 

<span class="h3">Coming Soon</span>

<!--
    <table border=1>
      <td align=center valign=top> 
      <tr> 
        <td> <center>
            <p> 
            <p> <b>In the<br>
              Classroom</b> </center></td>
        <td align=left valign=top><center>
            <b>Monday, August 30, 2010</b> 
          </center>
          <br> <font color="#FFCC66">______________________________________</font> 
          <p>7:00am-8:50am Inner Harmonizing with Jade
          <p>9:00am-10:50am Hot Vinyasa Yoga with Spark
          <p>11:00am-11:50am Self Compassion with Aziz
          <p>Noon -1:50pm Finding Your Calling with Captain Kirk
          <p>2:00pm-3:30pm <a href="http://playacal.burningman.com/view_entry.php?id=7127&date=20080825">Monkey 
            Chant: The Rhythmic Interplay of Community Voice</a> 
          <p>4:00pm-4:50pm Exploring Ejaculatory Choice for Men with scooter 
          <p>5:00pm-6:30pm Asanas Yoga with Jordan
          <p>7:30pm-9:00pm Dr. Love with Starman
          </td>
        <td align=left valign=top><center>
            <b>Tuesday, August 31, 2010</b> 
          </center>
          <br> <font color="#FFCC66">______________________________________</font> 
          <p>7:00am-8:50am Group Yoga and Flying with TamaraCee
          <p>9:00am-10:50am Intro/Thai for 2 Bodywork with Spark
          <p>11:00am-11:50am Standing Hypnosis with Merlin
          <p>Noon-1:50pm Dreamwork as a Practice with Jan Francisco
          <p>2:00pm-3:30pm <a href="http://playacal.burningman.com/view_entry.php?id=7127&date=20080826">Monkey 
            Chant: The Rhythmic Interplay of Community Voice</a> 
          <p>4:00pm-4:50pm Cookie's Enlightenment Hour
          <p>5:00pm-6:30pm Asanas Yoga with Jordan
          <p> 7:30pm-9:00pm The OneMouthBand TaKeTiNa Circle Sing<br>
          </td>
        <td align=left valign=top><center>
            <b>Wednesday, September 1, 2010</b> 
          </center>
          <br> <font color="#FFCC66">______________________________________</font> 
          <p>7:00am-8:50am Inner Harmonizing with Jade
          <p>9:00am-10:50am Hot Vinyasa Yoga with Spark 
          <p>11:00am-11:50am Exploring g-Spot and Women's Female Ejaculation with 
            scooter
          <p>Noon -1:50pm Reiki for Sexual Healing with Belinda
          <p>2:00pm-3:30pm <a href="http://playacal.burningman.com/view_entry.php?id=7127&date=2008082">Monkey 
            Chant: The Rhythmic Interplay of Community Voice</a> 
          <p>4:00pm-4:50pm Soulmates Theory and Discussion with Captain Kirk
          <p>5:00pm-6:30pm Breathway with Jordan
          <p>7:30pm-9:00pm Sura &amp; the Temple Bhajan Band
          <p> </td>
        <td align=left valign=top><center>
            <b>Thursday, September 2, 2010</b> 
          </center>
          <br>
          <font color="#FFCC66">______________________________________</font> 
          <p>7:00am-8:50am Group Yoga and Flying with TamaraCee 
          <p>9:00am-10:50am Intro/Thai for 2 Bodywork with Spark 
          <p>11:00am-11:50am Mooning Astrology with Merlin
          <p>Noon-1:50pm Dreamwork as a Practice with Jan Francisco
          <p>2:00pm-3:30pm <a href="http://playacal.burningman.com/view_entry.php?id=7127&date=20080828"> 
            Monkey Chant: The Rhythmic Interplay of Community Voice </a> 
          <p>4:00pm-5:50pm Cookie's Enlightenment Hour 
          <p>5:00pm-6:30pm Asanas Yoga with Jordan 
          <p> 7:30pm-9:00pm Sura &amp; the Temple Bhajan Band
          <p>&nbsp; </td>
        <td align=left valign=top><center>
            <b>Friday, September 3, 2010</b> 
          </center>
          <br>
          <font color="#FFCC66">______________________________________</font> 
          <p>7:00am-8:50am Inner Harmonizing with Jade 
          <p>9:00am-10:50am Hot Vinyasa Yoga with Spark 
          <p>11:00am-11:50am Ipsilu Tantra Puja with SkyDancer
          <p>Noon-1:50pm Healing Energy 101 with Shana
          <p>2:00pm-3:30pm Free Your Mind with Ronit Corry
          <p>4:00pm-4:50pm Temple Medication Prep with Belinda
          <p>5:00pm-6:30pm Breathway with Jordan
          <p>7:30pm-9:00pm Sura &amp; the Temple Bhajan Band</td>
        <td align=left valign=top><center>
            <b>Saturday, September 4, 2010</b> 
          </center>
          <br>
          <font color="#FFCC66">______________________________________</font> 
          <p>7:00am-8:50am Group Yoga and Flying with TamaraCee 
          <p>9:00am-10:50 Yoga and Meditation with Q
          <p>11:00am-11:50am Ipsilu Tantra Puja with SkyDancer 
          <p>Noon-1:50pm Free Your Mind with Ronit Corry 
          <p>2:00pm-4:00pm The OneMouthBand TaKeTiNa Circle Sing
          <p>4:00pm-5:30pm Eye Gazing and Ecstacy with Michael E</td>
        <td align=left valign=top><center>
            <b>Sunday, September 5, 2010</b> 
          </center>
          <br> <font color="#FFCC66">______________________________________</font> 
          <p> 10:00am - 12:00am Self Compassion with Aziz
          <p>12:00pm Classroom is Closed</td>
      </tr>
      <tr> 
        <td> <center>
            <b>In The<br>
            Chill Space</b></center></td>
        <td><p>8:30am-9:45am Yoga</p>
          <p>10:00am-6:00pm Open for Healing</p>
          <p>Ongoing - Temple Bhajan Band</p></td>
        <td> <p>8:30am-9:45am Yoga with &quot;2 Man&quot;</p>
          <p>10:00am - 6:00pm Open for Healing</p>
          <p>Ongoing - Temple Bhajan Band</p></td>
        <td> <p>8:30am-9:45am Tri-Yoga with Kara Ayn</p>
          <p>10:00am - 6:00pm Open for Healing</p>
          <p>Ongoing - Temple Bhajan Band</p></td>
        <td><p>8:30am-9:45am Yoga with &quot;2 Man&quot;</p>
          <p>10:00am - 6:00pm Open for Healing</p>
          <p>Ongoing - Temple Bhajan Band</p></td>
        <td> <p>8:30am-9:45am Partner Tri-Yoga with Kara Ayn</p>
          <p>10:00am - 6:00pm Open for Healing</p>
          <p>Ongoing - Temple Bhajan Band</p></td>
        <td><p>8:30am-9:45am Yoga</p>
          <p>10:00am - 6:00pm Open for Healing</p>
          <p>Ongoing - Temple Bhajan Band</p></td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <br>
    <br>
  </div>

-->
{% endblock %}
