{% extends "main.html" %}

{% block subtitle %}
2011 Classroom Schedule
{% endblock %}

{% block content %}
<div id="pagecopy"> 

<table border=1>
  <tr> <td/> <td align="center"> <b>Classroom</b> </td> <td align="center"> <b>Chill Space</b> </td> </tr>
  <tr> <td> <b>Monday</b> </td> 
       <td> 
         <p>7:00am-8:20am Morning Meditation </p>
         <p>8:30am-9:50am Introduction to Yoga </p>
         <p>10:00am-11:20am Biological Basis of Personality </p>
         <p>11:30am-12:20am Massage: Barefoot Basics </p>
         <p>12:30pm-1:50pm Heal Your Body Image </p>
         <p>2:00pm-3:50pm Monkey Chant: The Rhythmic Interplay of Community Voice </p>
         <p>4:00pm-5:50pm Group Yoga and Flying </p>
         <p>6:00pm-7:30pm+ Tantra, Energy Flow, Sacred Sex</p>
       </td>
       <td>
         <p>8:30am-9:45am Yoga: Vinyasa flow
         <p>10:00am-6:00pm Open for Healing</p>
         <p>Ongoing - Temple Bhajan Band</p>
       </td>
  </tr>
  <tr> <td> <b>Tuesday</b> </td>
       <td>
          <p>7:00am-8:20am Mindfulness: Being with Meditation
          <p>8:30am-9:50am Nia
          <p>10:00am-11:20am Circle Singing
          <p>11:30-12:20pm Self Hypnosis
          <p>12:30pm-1:50 Nonviolent Communication (NVC)
          <p>2:00pm-3:50pm Monkey Chant: The Rhythmic Interplay of Community Voice 
          <p>4:00pm-5:50pm The Practicality of Dreams
          <p>6:00pm-7:20pm The 5 Expressions of Intentional Touch
          <p>7:30pm-9:00+pm Exploring Sexuality
       </td>
       <td>
         <p>8:30am-9:45am Introduction to Ashtanga Yoga</p>
         <p>10:00am - 6:00pm Open for Healing</p>
         <p>Ongoing - Temple Bhajan Band</p>
       </td>
  </tr>
  <tr> <td> <b>Wednesday</b> </td>
       <td>
          <p>7:00am-8:20am Morning Meditation: Vipassana
          <p>8:30am-9:50am Full Ashtanga Yoga  
          <p>10:00am-12:20pm Yoga to Free Your Voice
          <p>12:30pm-1:50pm HeBe Meditation & Healing Circle
          <p>2:00pm-3:50pm Monkey Chant: The Rhythmic Interplay of Community Voice 
          <p>4:00pm-5:50pm Group Yoga and Flying
          <p>6:00pm-7:20+pm Tantra, Energy Flow, Sacred Sex
       </td>
       <td>
         <p>8:30am-9:45am Yoga: Vinyasa flow </p>
         <p>10:00am - 6:00pm Open for Healing</p>
         <p>Ongoing - Temple Bhajan Band</p>
       </td>
  </tr>
  <tr> <td> <b>Thursday</b> </td>
       <td>
          <p>7:00am-8:20am Morning Meditation: Vipassana 
          <p>8:30am-9:50am Nia
          <p>10:00am-11:20am TaKeTiNa Rhythm Journey
          <p>11:30am-12:20pm Self Hypnosis
          <p>12:30pm-1:50pm Nonviolent Communication (NVC)
          <p>2:00pm-3:50pm Monkey Chant: The Rhythmic Interplay of Community Voice 
          <p>4:00pm-5:50pm Guided Soul Journey: Connect with the Dark Mother
          <p>6:00pm-7:20pm The 5 Expressions of Intentional Touch 
          <p>7:30pm- ---pm Storytelling: Fact or Fiction?
       </td>
       <td>
         <p>8:30am-9:45am Full Ashtanga Yoga</p>
         <p>10:00am - 6:00pm Open for Healing</p>
         <p><b>6:00pm-7:30pm Cosmic Kirtan/Bhajans</b> 
         <p>Ongoing - Temple Bhajan Band</p>
       </td>
  </tr>
  <tr> <td> <b>Friday</b> </td>
       <td>
          <p>7:00am-8:20am Morning meditation: Awareness of Awareness is Unity  
          <p>8:30am-9:50am Full Ashtanga Yoga
          <p>10:00am-10:50am Yea! Karma Kids Yoga!
          <p>11:00am-12:20pm Advanced Energy Medicine 
          <p>12:30pm-1:50pm HeBe Meditation-mindfullness research discussion/NVC practice/Healing Circle
          <p>2:00pm-2:50pm The Science and Alchemy of Homeopathic Medicine
          <p>3:00pm-3:50pm Epigenetics, Wellness, & Chronic Disease
          <p>4:00pm-5:50pm Group Yoga and Flying
          <p>6:00pm-8:00pm+ Tantric Touch for Intimate Partners
       </td>
       <td>
         <p>8:30am-9:45am Disco Yoga </p>
         <p>10:00am - 6:00pm Open for Healing</p>
         <p>Ongoing - Temple Bhajan Band</p>
       </td>
  </tr>
  <tr> <td> <b>Saturday</b> </td>
       <td>
          <p>7:00am-8:20am Mindfulness: Being with Meditation 
          <p>8:30am-10:20am Full Ashtanga Yoga 
          <p>10:30am-12:20pm The 5 Expressions of Intentional Touch 
          <p>12:30pm-1:50pm HeBe Meditation/NVC practice/Healing Circle
          <p>2:00pm-3:50pm  Circle Singing
          <p>4:00pm-5:50pm The Practicality of Dreams
       </td>
       <td>
         <p>8:30am-9:45am Disco Yoga </p>
         <p>10:00am - 6:00pm Open for Healing</p>
         <p>Ongoing - Temple Bhajan Band</p>
       </td>
  </tr>
  <tr> <td> <b>Sunday</b> </td>
       <td>
          <p>10:00am-12:00pm Za<span style="color: #BBBBBB;">dance</span>Zen Meditation<br>
          <p>12:00pm Classroom is Closed</td>
       </td>
       <td>
         <p>8:30am-9:45am TriYoga-Hatha Flow </p>
       </td>
  </tr>
</table>

<!--

    <table border=1>
      <td align=center valign=top> 
      <tr> 
        <td> <center>
            <p> 
            <p> <b>In the<br>
              Classroom</b> </center></td>
        <td align=left valign=top><center>
            <b>Monday, August 29, 2011</b> 
          </center>
          <br> <font color="#FFCC66">_____________________________________________</font> 
          <p>7:00am-8:20am Morning Meditation
          <p>8:30am-9:50am Introduction to Yoga 
          <p>10:00am-11:20am Biological Basis of Personality
          <p>11:30am-12:20am Massage: Barefoot Basics
          <p>12:30pm-1:50pm Heal Your Body Image
          <p>2:00pm-3:50pm Monkey Chant: The Rhythmic Interplay of Community Voice
          <p>4:00pm-5:50pm Group Yoga and Flying 
          <p>6:00pm-7:30pm+ Tantra, Energy Flow, Sacred Sex
          
          </td>
       

 <td align=left valign=top><center>
            <b>Tuesday, August 30, 2011</b> 
          </center>
          <br> <font color="#FFCC66">_____________________________________________</font> 
          <p>7:00am-8:20am Mindfulness: Being with Meditation
          <p>8:30am-9:50am Nia
          <p>10:00am-11:20am Circle Singing
          <p>11:30-12:20pm Self Hypnosis
          <p>12:30pm-1:50 Nonviolent Communication (NVC)
          <p>2:00pm-3:50pm Monkey Chant: The Rhythmic Interplay of Community Voice 
          <p>4:00pm-5:50pm The Practicality of Dreams
          <p>6:00pm-7:20pm The 5 Expressions of Intentional Touch
          <p> 7:30pm-9:00+pm Exploring Sexuality
          </td>
       

 <td align=left valign=top><center>
            <b>Wednesday, August 31, 2011</b> 
          </center>
          <br> <font color="#FFCC66">_____________________________________________</font> 
          <p>7:00am-8:20am Morning Meditation: Vipassana
          <p>8:30am-9:50am Full Ashtanga Yoga  
          <p>10:00am-12:20pm Yoga to Free Your Voice
          <p>12:30pm-1:50pm HeBe Meditation & Healing Circle
          <p>2:00pm-3:50pm Monkey Chant: The Rhythmic Interplay of Community Voice 
          <p>4:00pm-5:50pm Group Yoga and Flying
          <p>6:00pm-7:20+pm Tantra, Energy Flow, Sacred Sex
          </td>
        
<td align=left valign=top><center>
            <b>Thursday, September 1, 2011</b> 
          </center>
          <br>
          <font color="#FFCC66">_____________________________________________</font> 
          <p>7:00am-8:20am Morning Meditation: Vipassana 
          <p>8:30am-9:50am Nia
          <p>10:00am-11:20am TaKeTiNa Rhythm Journey
          <p>11:30am-12:20pm Self Hypnosis
          <p>12:30pm-1:50pm Nonviolent Communication (NVC)
          <p>2:00pm-3:50pm Monkey Chant: The Rhythmic Interplay of Community Voice 
          <p>4:00pm-5:50pm Guided Soul Journey: Connect with the Dark Mother
          <p>6:00pm-7:20pm The 5 Expressions of Intentional Touch 
          <p>7:30pm- ---pm Storytelling: Fact or Fiction?
           </td>
        
<td align=left valign=top><center>
            <b>Friday, September 2, 2011</b> 
          </center>
          <br>
          <font color="#FFCC66">________________________________________________</font> 
          <p>7:00am-8:20am Morning meditation: Awareness of Awareness is Unity  
          <p>8:30am-9:50am Full Ashtanga Yoga
          <p>10:00am-10:50am Yea! Karma Kids Yoga!
          <p>11:00am-12:20pm <span style="color: #990099;"> possible info coming...</span>
          <p>12:30pm-1:50pm HeBe Meditation-mindfullness research discussion/NVC practice/Healing Circle
          <p>2:00pm-2:50pm The Science and Alchemy of Homeopathic Medicine
          <p>3:00pm-3:50pm Epigenetics, Wellness, & Chronic Disease
          <p>4:00pm-5:50pm Group Yoga and Flying
          <p>6:00pm-8:00pm+ Tantric Touch for Intimate Partners
          </td>
       
 <td align=left valign=top><center>
            <b>Saturday, September 3, 2011</b> 
          </center>
          <br>
          <font color="#FFCC66">_____________________________________________</font> 
          <p>7:00am-8:20am Mindfulness: Being with Meditation 
          <p>8:30am-10:20am Full Ashtanga Yoga 
          <p>10:30am-12:20pm The 5 Expressions of Intentional Touch 
          <p>12:30pm-1:50pm HeBe Meditation/NVC practice/Healing Circle
          <p>2:00pm-3:50pm  Circle Singing
          <p>4:00pm-5:50pm The Practicality of Dreams
          </td>
        
<td align=left valign=top><center>
            <b>Sunday, September 4, 2010</b> 
          </center>
          <br> <font color="#FFCC66">_____________________________________________</font> 
          <p> 10:00am-12:00pm Za<span style="color: #BBBBBB;">dance</span>Zen Meditation<br>
          <p>12:00pm Classroom is Closed</td>
      </tr>
      <tr> 
        <td> <center>
            <b>In The<br>
            Chill Space</b></center></td>
        <td><p>8:30am-9:45am Yoga: Vinyasa flow
          <p>10:00am-6:00pm Open for Healing</p>
          <p>Ongoing - Temple Bhajan Band</p></td>
        <td> <p>8:30am-9:45am Introduction to Ashtanga Yoga</p>
          <p>10:00am - 6:00pm Open for Healing</p>
          <p>Ongoing - Temple Bhajan Band</p></td>
        <td> <p>8:30am-9:45am Yoga: Vinyasa flow </p>
          <p>10:00am - 6:00pm Open for Healing</p>
          <p>Ongoing - Temple Bhajan Band</p></td>
        <td><p>8:30am-9:45am Full Ashtanga Yoga</p>
          <p>10:00am - 6:00pm Open for Healing</p>
          <p><b>6:00pm-7:30pm Cosmic Kirtan/Bhajans</b> 
          <p>Ongoing - Temple Bhajan Band</p></td>
        <td> <p>8:30am-9:45am Disco Yoga </p>
          <p>10:00am - 6:00pm Open for Healing</p>
          <p>Ongoing - Temple Bhajan Band</p></td>
        <td><p>8:30am-9:45am Disco Yoga </p>
          <p>10:00am - 6:00pm Open for Healing</p>
          <p>Ongoing - Temple Bhajan Band</p></td>
         <td><p>8:30am-9:45am TriYoga-Hatha Flow </p></td>
      </tr>
    </table>

--> 


{% endblock %}
