{% extends "main.html" %}

{% block subtitle %}
Committees
{% endblock %}

{% block leftnav %}
  <div class="divLeftNav">

    <div class="topnav"><a href="how_to_be_a_heebee.html">HOW TO BE A HEEBEE</a>
      <div class="secondnav"><a href="/register">CAMP REGISTRATION</a></div>
    </div>
	
    <div class="topnav"><a href="member_info.html">CAMP MEMBER INFO</a>
      <div class="secondnav"><a href="logistics.html">CAMP LOGISTICS</a></div>
      <div class="secondnav"><a href="committees.html">COMMITTEES</a>
        <div class="thirdnav"><a href="committee_healers.html">Healers</a></div>
        <div class="thirdnav"><a href="committee_classroom.html">Classroom</a></div>
        <div class="thirdnav"><a href="committee_faeries.html">Faeries &amp; Greeters</a></div>
        <div class="thirdnav"><a href="committee_infrastructure.html">Infrastructure</a></div>
        <div class="thirdnav"><a href="committee_kitchen.html">Kitchen</a></div>
<!--         <div class="thirdnav"><a href="committee_art.html">Art</a></div> -->
      </div>
<!--      <div class="secondnav"><a href="current_campers.html">CURRENT CAMPERS</a></div> -->
      <div class="secondnav"><a href="survival_guide.html">SURVIVAL GUIDE</a></div>
<!--      <div class="secondnav"><a href="photo_gallery.html">PHOTO GALLERY</a></div> -->
    </div>

    <div class="topnav"><a href="playa_offerings.html">PLAYA OFFERINGS</a>
      <div class="secondnav"><a href="classroom_schedule.html">CLASSROOM SCHEDULE</a></div>
      <div class="secondnav"><a href="leave_no_trace_plan.html">LEAVE NO TRACE PLAN</a></div>
      <div class="secondnav"><a href="camp_site_plan.html">CAMP SITE PLAN</a></div>
    </div>

    <div class="topnav"><a href="contact_us.html">CONTACT US</a>
    </div>

    <div class="topnav"><a href="/">HOME</a>
    </div>

  </div> <!-- end divLeftnaf-->

{% endblock %}

{% block content %}
<div id="pagecopy"> 
    <div class="h2">HeeBeeGeeBee Commitees</div>
    <p>Sure, we all come to the playa to play...and we'll be serious with you. 
      The mission of the HeeBees is to serve the residents of Black Rock City. 
      So please know that the HeeBee camp is a service camp. Joining the HeeBees 
      means that you are willing to give up a portion of your playa play time 
      to give to the community. Everyone in the camp must contribute and participate. 
      Like any community each one of us has a role to play. Some people will wear 
      one hat while others will don several. Since each of us has different strengths 
      and weaknesses we should find where we best fit in our community, find a 
      place to focus our attention on in to order grow and learn new skills, and 
      maybe even get out of our comfort zone. In order to allow you to pick the 
      area that you would like to participate in, we have brief descriptions listed 
      below which include any skills or experiences that might be helpful. </p>
    <p>Our camp is divided into two main branches - Healing (50%) and Support 
      (50%). The Helaing branch is comprised of our healers who serve the public 
      directly. Our Support branch is comprised of those people who make the camp 
      run - kitchen, infrastructure, healing space management and camp reception. 
    </p>
    <p> The expectation is that everyone in the camp picks an area they want to 
      participate in as their main focus. Then get involved right away so you 
      can do the pre-planning, meet your co-committee members, and get ready to 
      make it work on the playa. We have designed each position to average 4 hours 
      of contribution per day. Healers who are going to work in the healing space 
      are committing to offering 4 hours daily with no additional on playa camp 
      commitments. <br>
      <br>
      We also require that everyone in the camp is available for either set up 
      or strike, or both if you have the time and energy. One day minimum is needed 
      on set up or strike, but two or three would be better. Everybody can help 
      build or remove the camp, even if you can't hammer stakes or move heavy 
      objects; there is plenty to do. An added bonus is that if you work a full 
      day of strike on Monday, you will get a rebate on your camp dues!<br>
      <br>
      If you want to support the camp at a higher level you are also welcome to 
      take on the position of Lead. We have 2 Kitchen Leads and 1 Classroom Lead 
      who have higher levels of pre-playa work; and therefore, are rewarded with 
      discounted camp dues or comp tickets to the event. <br>
      <br>
      Click on a committee on the left, get to know how they work and pick your 
      first and second choice prior to beginning the Registration Process.<br>
    </p>
    <div class="h2"> 
      <div align="center"><a href="/register">Register Now</a></div>
    </div>
    <br></p>
</div>
{% endblock %}
