{% extends "committees.html" %}

{% block subtitle %}
Committee: Kitchen
{% endblock %}

{% block content %}
<div id="pagecopy"> 
    <div class="h2">Kitchen Leads</div>
    The Kitchen Leads run one of the best kitchens on the playa feeding up to 
    60+ HeeBees and our guests. This committee sets up the menu, orders and prepares 
    the food, freezes and stores it to be ready for transportation to the playa. 
    The Kitchen Leads also put together the equipment plan for the kitchen. On 
    the playa, this dedicated group builds and manages the kitchen space, as well 
    as the Kitchen Staff so that the camp is safely fed through the entire time 
    we are on the playa. Finally, they organize the break down of the kitchen, 
    safe packing of equipment, and removal of extra food. <br>
    <br>
    This group of people consists of three people that have food service experience, 
    management skills, and a love of both food and people. Due to the commitment 
    needed, these people are offered free tickets to the event and discounted 
    camp dues. Our goal is to have a large enough team so that even the Nutrition 
    Committee has the opportunity to have the time and freedom get lost during 
    the event. <br>
    <br>
    <div class="h2">Kitchen Staff</div>
    So you love food, love people but don't have the time to be a Kitchen Lead. 
    Thats totally understandable. Join the Kitchen Staff and participate in doing 
    the final cooking on the playa. The Kitchen Staff will work with the Leads 
    and run the kitchen, keep it clean, maintain the dining hall and serve all 
    the dusty lovelies. Sounds like an awesome time that will be much appreciated 
    by every one in the camp. <br>
    <br>
    We are looking for a staff of nine (9) people to work in the kitchen this 
    year. Emotions and energy affect the quality of food as much as the raw ingredients. 
    Our highest goal is to make the experience amazing for everyone, no matter 
    if you are in front of the serving table or behind it. <br>
    <br>
    <br>
  </div>
{% endblock %}
