{% extends "committees.html" %}

{% block subtitle %}
Committee: Faeries &amp; Greeters
{% endblock %}

{% block content %}
<div id="pagecopy"> 
    <p>The Fairies and Greeters will host the HeeBee information center and healing 
      space - the focal points of our camp to the public. You will be the face 
      of the HeeBees. The fairies will manage healing signup sheets, provide classroom 
      information, welcome the public into our amazing camp and oversee the flow 
      of operations in the healing space. What a cool job! So, if you are the 
      social type who likes the public eye or a quiet type that would like to 
      hold sacred space in the healing tent, then this committee is for you. We 
      need 8 fun, engaging greeters/fairies this year.<br>
    </p>
    <div class="h3"></div>
    <br>
  </div>
{% endblock %}
