{% extends "committees.html" %}

{% block subtitle %}
Committee: Classroom
{% endblock %}

{% block content %}
<div id="pagecopy">
		
	<p>The Heebeegeebee Classroom is a Black Rock City institute of experiential 
	  education, offering a number of daily classes and events that promote healing 
	  and a greater awareness of Self, Others, the World, and Universal Consciousness. 
	  <br>
	  <br>
	  The Heebeegeebee Classroom Organizer creates the class schedule and maintains 
	  the classroom space with the intention to make the classroom run smoothly 
	  during Burning Man. <br>
	  <br>
	  Do you love to learn, love to teach, or love to help others who learn and 
	  teach? If so, this is the perfect job for you! The Classroom Organizer begins 
	  their work in April, collecting requests and forming a schedule. This schedule 
	  is finalized in July and posted online in early August. </p>
	<p>&nbsp; </p>
	<div class="h2">Classroom Details</div>
		
		The Heebeegeebee Classroom is a Black Rock City institute of experiential education, offering a number of daily classes and events that promote healing and a greater awareness of Self, Others, the World, and Universal Consciousness.
		<br><br>
	The Heebeegeebee Classroom Organizedr also maintains the classroom space during 
	Burning Man with the intention to make the classroom run smoothly.<br>
	<br>
		
    <div class="h3">The Heebeegeebee Classroom Organizer's intention</div>
		<div class="quote">
		* schedule workshops and classes before the event<br>
		* devise class forms and other ways to mold the knowledge of the instructors into accessible class descriptions<br>
		* determine parameters for classroom events, such as length and scope<br>
		* publicize event descriptions into the What Where When, on the Heebeegeebee website calendar and on Burning Man related websites<br>
		* lay out the schedule for the classes & workshops<br>
		* put the call out for classes among the Heebees and the Burner community<br>
		* assist new instructors in refining ideas and forming them into workable classes<br>
		* communicate with instructors about their classes before the event<br>
		* maintain the classroom space while on the playa<br>
		* furnish the classroom space<br>
		* post upcoming class schedules in front of the classroom<br>
		* be present for the beginning and end of classes<br>
		* manage participant flow for high-volume events<br>
		* do everything we can to make the classroom space safe<br>
		* work with the Heebee web design team to create web-based and/or downloadable class schedule for Burning Man participants<br>
		* promote Heebee classes and workshops during the event<br>
		</div>
		<br>

		<div class="h3">Fringe Benefits</div>
		Among the many fringe benefits of being on the Classroom Organizer are: 
    	<br>
    	
		<div class="quote">
		* Knowing when all the cool classes are, so you can take them yourself! (We can attend almost every class that happens while we are "on duty".)<br>
		* Getting to meet and assist the instructors &#151; what a cool group of people!<br>
		* Coming into contact with random people who are wandering around our camp, trying to find things to do! You might get them to take a really cool class!<br>
		* Getting the deep satisfaction of watching powerful classes transform people, knowing that you were part of the process that allowed that transformation to happen!<br>
		</div>
		
		<br>
		
    <div class="h3">Interested?</div>		
		Our Classroom Organizer is appointed in March or April each year. Contact Shakti or Scooter to apply for this postion.<br>
    	<br>
		
		Together, we will offer the most incredible assortment of enlightened education on the playa!
		<br>
	
		<div style="text-align: center;"><img src="/images/bottomcurls.gif" width="537" height="54" border="0"></div>	
	
</div>
{% endblock %}
