{% extends "committees.html" %}

{% block subtitle %}
Committee: Infrastructure
{% endblock %}

{% block content %}
<div id="pagecopy"> 
    <p align="center"><font size="3">If you love to keep things together and running 
      smoothly,<br>this job is for you! </font></p>
    <p>In order to keep the camp running, we need 6 infrastructure people who 
      can wield a rebar pounder, fuel a a genny, keep our tents up, and fix whatever 
      we might break with duct tape and bailing wire. This year we will have 6 
      people cover 4-8 hour shifts, with one person taking a &quot;day off&quot; 
      each day (see schedule below). And, every 4th shift is an overnight shift, 
      so you can sleep on the job!</p>
    <p> The person &quot;on duty&quot; is in charge of keeping the camp running 
      and the tents up. Most of your shift will be just hanging around camp and 
      socializing waiting for something to happen. So during a shift, it will 
      be imperitive that you remain in camp for the entire shift - then...PLAYTIME!</p>
    <p>Also, this is a Leave No Trace (LNT) event. That means leavin' no nutin'! 
      The infrastructure people also manage the trash, grey water, the recycling 
      plan and MOOP. This Committee helps educate us about LNT, works with the 
      Earth Guadians, and implements this practice so the HeeBees can have a spotless 
      presence on the playa. </p>
    <p>Infrastructure duty schedule: Each number represents a person on the infrastructure 
      team. Of course we will cut some slack for the people on duty during the 
      burns! </p>
    <div align="center"> 
      <table width="75%" border="1">
        <tr> 
          <td><div align="center"></div></td>
          <td><div align="center">sun</div></td>
          <td><div align="center">mon</div></td>
          <td><div align="center">tue</div></td>
          <td><div align="center">wed</div></td>
          <td><div align="center">thu</div></td>
          <td><div align="center">fri</div></td>
          <td><div align="center">sat</div></td>
          <td><div align="center">sun</div></td>
        </tr>
        <tr> 
          <td><div align="center">9p-9a</div></td>
          <td><div align="center">1</div></td>
          <td><div align="center">2</div></td>
          <td><div align="center">3</div></td>
          <td><div align="center">4</div></td>
          <td><div align="center">1</div></td>
          <td><div align="center">2</div></td>
          <td><div align="center">3</div></td>
          <td><div align="center">4</div></td>
        </tr>
        <tr> 
          <td><div align="center">3p-9p</div></td>
          <td><div align="center">2</div></td>
          <td><div align="center">3</div></td>
          <td><div align="center">4</div></td>
          <td><div align="center">1</div></td>
          <td><div align="center">2</div></td>
          <td><div align="center">3</div></td>
          <td><div align="center">4</div></td>
          <td><div align="center">1</div></td>
        </tr>
        <tr> 
          <td><div align="center">9a-3p</div></td>
          <td><div align="center">3</div></td>
          <td><div align="center">4</div></td>
          <td><div align="center">1</div></td>
          <td><div align="center">2</div></td>
          <td><div align="center">3</div></td>
          <td><div align="center">4</div></td>
          <td><div align="center">1</div></td>
          <td><div align="center">2</div></td>
        </tr>
        <tr> 
          <td><div align="center">day off</div></td>
          <td><div align="center">4</div></td>
          <td><div align="center">1</div></td>
          <td><div align="center">2</div></td>
          <td><div align="center">3</div></td>
          <td><div align="center">4</div></td>
          <td><div align="center">1</div></td>
          <td><div align="center">2</div></td>
          <td><div align="center">3</div></td>
        </tr>
      </table>
    </div>
    <p><br>
      <br>
    </p>
  </div>
{% endblock %}
