{% extends "committees.html" %}

{% block subtitle %}
Committee: Healers
{% endblock %}

{% block content %}
<div id="pagecopy"> 
    <p>Almost fifty percent of our camp is made up up healers. We offer alternative 
      healing modalities such as Shamanic and Spiritual Healing, Energy Therapies, 
      Counseling, Yoga, Meditation, Tantra and whatever other talents show up 
      at our camp each year. Just as with support positions, we expect all our 
      healers to offer 4 hours per day of their time in our healing space.</p>
    <p>Our healing space usually contains 12 - 14 heaing stations and some floor 
      space to work on. Healers can also work out in the chill area, cycling among 
      the guests and offering mini-sessions or other comforts.<br>
      <br>
    </p>
</div>
{% endblock %}
