{% extends "main.html" %}

{% block subtitle %}
Committees
{% endblock %}

{% block leftnav %}
  <div class="divLeftNav">

    <div class="topnav"><a href="how_to_be_a_heebee.html">HOW TO BE A HEEBEE</a>
      <div class="secondnav"><a href="/register">CAMP REGISTRATION</a></div>
    </div>
	
    <div class="topnav"><a href="member_info.html">CAMP MEMBER INFO</a>
      <div class="secondnav"><a href="logistics.html">CAMP LOGISTICS</a></div>
      <div class="secondnav"><a href="committees.html">COMMITTEES</a>
        <div class="thirdnav"><a href="committee_healers.html">healers</a></div>
        <div class="thirdnav"><a href="committee_classroom.html">classroom</a></div>
        <div class="thirdnav"><a href="committee_faeries.html">faeries &amp; greeters</a></div>
        <div class="thirdnav"><a href="committee_infrastructure.html">infrastructure</a></div>
        <div class="thirdnav"><a href="committee_kitchen.html">kitchen</a></div>
        <div class="thirdnav"><a href="committee_art.html">art</a></div>
      </div>
      <div class="secondnav"><a href="current_campers.html">CURRENT CAMPERS</a></div>
      <div class="secondnav"><a href="survival_guide.html">SURVIVAL GUIDE</a></div>
      <div class="secondnav"><a href="photo_gallery.html">PHOTO GALLERY</a></div>
    </div>

    <div class="topnav"><a href="playa_offerings.html">PLAYA OFFERINGS</a>
      <div class="secondnav"><a href="classroom_schedule.html">CLASSROOM SCHEDULE</a></div>
      <div class="secondnav"><a href="leave_no_trace_plan.html">LEAVE NO TRACE PLAN</a></div>
      <div class="secondnav"><a href="camp_site_plan.html">CAMP SITE PLAN</a></div>
    </div>

    <div class="topnav"><a href="contact_us.html">CONTACT US</a>
    </div>

    <div class="topnav"><a href="/">HOME</a>
    </div>

  </div> <!-- end divLeftnaf-->

{% endblock %}

{% block content %}
Ask scooooter!
{% endblock %}
