{% extends "committees.html" %}

{% block subtitle %}
Committee: Arts & Parties
{% endblock %}

{% block content %}
<div id="pagecopy"> Damn it man, this is an art festival. Whew, thank god we 
    have an Art Committee. This group of creative and talented folks makes the 
    camp beautiful, creates lovely signs, and gives the HeeBees that artistic 
    flair. Plus who knows what fun they may create for us all week long - afterall, 
    we call this position arts and parties. <br>
    <br>
    Do you have an art inspiration that needs fulfilling? Then here is where you 
    belong. <br>
    <br>
    <br>
    <div style="text-align: center;"><img src="/images/bottomcurls.gif" width="537" height="54" border="0"></div>
  </div>
{% endblock %}
