<html>
  <head>
    <title>Early Team Report</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
  </head>

  <body>
    <p><a href="/admin">Back to the main admin page</a></p>

    <h2> Assigned to Early Team - {{ assigned|length }} Campers</h2>
    {% for camper in assigned %}
    <form action="/admin/early_team_strike_team" method="post">
      <input type="hidden" name="camper_key" value="{{ camper.key }}"/>
      <input type="hidden" name="early_team_assigned" value="off"/>
      <a href="/camper/edit?camper_key={{ camper.key }}">{{ camper.realname }} - {{ camper.email }}</a> 
      <input type="submit" action="/admin/early_team_strike_team" value="Remove from ET"> <br/>
    </form>
    {% endfor %}
    <p><a href="/admin">Back to the main admin page</a></p>
    <h2> Not assigned to Early Team - {{ requested|length }} Campers</h2>
    {% for camper in requested %}
    <form action="/admin/early_team_strike_team" method="post">
      <input type="hidden" name="camper_key" value="{{ camper.key }}"/>
      <input type="hidden" name="early_team_assigned" value="on"/>
      <a href="/camper/edit?camper_key={{ camper.key }}">{{ camper.realname }} - {{ camper.email }}</a>
      <input type="submit" action="/admin/early_team_strike_team" value="Add to ET"> <br/>
    </form>
    {% endfor %}
    <p><a href="/admin">Back to the main admin page</a></p>
    <h2> Strike Team -- {{ early|length }} Campers /h2>
    {% for camper in strike %}
      <a href="/camper/edit?camper_key={{ camper.key }}">{{ camper.realname }} - {{ camper.email }}</a> </br/>
    {% endfor %}
  </body>
</html>
