
{% extends "reg_template.html" %}

{% block subtitle %}
Edit User Info
{% endblock %}

{% block content %}
<img src="/camper/photo?camper_key={{camper.key}}"/>

<form id="update_photo" action="/camper/update_photo" method="post" enctype="multipart/form-data">
   <input type="file" name="photo"/>
   <input type="submit" value="Upload new photo"/>
   <input type="hidden" name="redirect" value="/camper/edit?camper_key={{camper.key}}"/>
   <input type="hidden" name="camper_key" value="{{camper.key}}"/>
   <input name="allow_public_photo" type="hidden" value="{% if camper.allow_public_photo %}on{% endif %}"/> <br/>
</form>

<form action="/camper/edit" method="post">

  Allow Public Photo <input name="allow_public_photo" type="checkbox" {% if camper.allow_public_photo %} checked {% endif %}/> <br/>
  <input type="hidden" name="camper_key" value="{{camper.key}}"/>

<input type="submit" action="/camper/edit"/ value="Save"/>
  <h2> Personal Info </h2>

  Real Name <input name="realname" type="text" size="30" value="{{camper.realname}}"/> <br/>
  Playa Name <input name="playaname" type="text" size="30" value="{{camper.playaname}}"/> <br/>
  Email <input name="email" type="text" size="30" value="{{camper.email}}"/> <br/>
  Address <br/> <textarea name="address" rows=4 cols=80>{{camper.address}}</textarea> <br/>
  Default World Job <br/> <textarea name="default_world_job" rows=4 cols=80>{{camper.default_world_job}} </textarea> </br>

<h2> Application Info </h2>

  Has Ticket <input name="ticket" type="checkbox" {% if camper.has_ticket %} checked {% endif %}/> <br/>
  Returning HeeBee <input name="returning" type="checkbox" {% if camper.returning %} checked {% endif %}/> <br/>
  Years As HeeBee <input name="years_as_heebee" type="text" size="30" value="{{camper.years_as_heebee}}"/> <br/>
  Previous Camps <br/> <textarea name="previous_camps" rows=4 cols=80>{{camper.previous_camps}}</textarea> <br/> 
  Why Heebees <br/> <textarea name="why_heebees" rows=4 cols=80>{{camper.why_heebees}}</textarea> <br/>
  Story <br/> <textarea name="story" rows=4 cols=80>{{camper.story}}</textarea></br>

<input type="submit" action="/camper/edit"/ value="Save"/>
<h2> Healer Info </h2>

  Wants to Heal <input name="wants_to_heal" type="checkbox" {% if camper.wants_to_heal %} checked {% endif %}/> <br/>

    <input type="hidden" name="healer_key" value="{{healer.key}}"/>
    Modalities <br/> <textarea name="modalities" rows=4 cols=80>{{healer.modalities}}</textarea> <br/>
    Certifications <br/> <textarea name="certifications" rows=4 cols=80>{{healer.certifications}}</textarea> <br/>
    Response to Inappropriate Action <br/> <textarea name="inappropriate_response" rows=4 cols=80>{{healer.inappropriate_response}}</textarea> <br/>
    Suggested Qualifications for a Healer <br/> <textarea name="suggested_qualifications" rows=4 cols=80>{{healer.suggested_qualifications}}</textarea> <br/>
    Years As Healer <input name="years_as_healer" type="text" size=10 value="{{healer.years_as_healer}}" /> <br/>
    Professional <input name="professional" type="checkbox" {% if healer.professional %} checked {% endif %} /> <br/>
    Triage <input name="triage" type="checkbox" {% if healer.triage %} checked {% endif %} /> <br/>
    Tables Bringing <input name="tables_bringing" type="text" size=10 value="{{healer.tables_bringing}}" /> <br/>
    <input type="hidden" name="preferred_time_to_heal" value="{{preferred_time_to_heal}}"/>


<input type="submit" action="/camper/edit"/ value="Save"/>
<h2> Camp Info </h2>

  <input type="hidden" name="assigned_committee" value="{{camper.assigned_committee}}"/>
  First Choice Committee: <select name="first_choice_committee">
    <option value="{{camper.first_choice_committee}}" selected>{{camper.first_choice_committee}}</option>
    <option>--</option>
    {% for committee in conf.committees %}
    <option value="{{committee}}">{{committee}}</option>
    {% endfor %}
  </select><br/>

  Second Choice Committee: <select name="second_choice_committee">
    <option value="{{camper.second_choice_committee}}" selected>{{camper.second_choice_committee}}</option>
    <option>--</option> 
    {% for committee in conf.committees %}
    <option value="{{committee}}">{{committee}}</option>
    {% endfor %}
  </select>
  <br/>

  First Choice Reason <br/>
  <textarea name="first_choice_reason" rows=5 cols=80>{{camper.first_choice_reason}}</textarea> <br/>

  Second Choice Reason <br/>
  <textarea name="second_choice_reason" rows=5 cols=80>{{camper.second_choice_reason}}</textarea> <br/>



  Wants to lead: <input type="checkbox" name="wants_to_lead" {% if camper.wants_to_lead %} checked {% endif %}/> <br/>
  Wants to teach: <input type="checkbox" name="wants_to_teach" {% if camper.wants_to_teach %} checked {% endif %}/> <br/>

  Teaching info: <br/> <textarea rows=5 cols=80 name="teaching_info">{{camper.teaching_info}}</textarea>


<input type="submit" action="/camper/edit"/ value="Save"/>
<h2> Schedule Info </h2>

  Early Team: <input type="checkbox" name="early_team" {% if camper.early_team %} checked {% endif %}/> <br/>
  Strike: <input type="checkbox" name="strike" {% if camper.strike %} checked {% endif %}/> <br/>
 
  Arrival Date: <select name='arrival_date'> 
    <option value="{{camper.arrival_date}}" selected>{{camper.arrival_date}}</option>
    <option>--</option>
    {% for d in dates %}
    <option value="{{d.date}}">{{d.date}}</option>
    {% endfor %}
  </select>   

  Arrival Time: <select name='arrival_time'>
    <option value="{{camper.arrival_time}}" selected>{{camper.arrival_time}}</option>
    <option>--</option>
    <option value='before_breakfast'>Before Breakfast</option>
    <option value='before_lunch'>Before Lunch</option>
    <option value='before_dinner'>Before Dinner</option>
    <option value='after_dinner'>After Dinner</option>
  </select>

  <br/>Departure Date: <select name='departure_date'> 
    <option value="{{camper.departure_date}}" selected>{{camper.departure_date}}</option>
    <option>--</option>
    {% for d in dates %}
    <option value="{{d.date}}">{{d.date}}</option>
    {% endfor %}
  </select>   

  Departure Time: <select name='departure_time'>
    <option value="{{camper.departure_time}}" selected>{{camper.departure_time}}</option>
    <option>--</option>
    <option value='before_breakfast'>Before Breakfast</option>
    <option value='before_lunch'>Before Lunch</option>
    <option value='before_dinner'>Before Dinner</option>
    <option value='after_dinner'>After Dinner</option>
  </select>

<input type="submit" action="/camper/edit"/ value="Save"/>
<h2> Logistical Info </h2>

Transportation Means
<select name='transportation_means'>
  <option value="{{camper.transportation_means}}">{{camper.transportation_means}}</option>
  <option>--</option>
  <option value="fly">Fly</option>
  <option value="drive">Drive</option>
  <option value="unsure">Not Sure</option>
  <option value="want_to_carpool">Want to Carpool</option>
  <option value="ride_to_offer">Can offer a ride</option>
</select><br/>

Bringing RV <input type="checkbox" name="bringing_rv" {% if camper.bringing_rv%} checked {% endif %}/><br/>
RV Size Info: <br/> <textarea rows=5 cols=80 name="rv_info">{{camper.rv_info}}</textarea> <br/>
Need RV Hookup: <input type="checkbox" name="rv_hookup" {% if camper.rv_hookup %} checked {% endif %}/><br/>

Camping in dorm tent: <input type="checkbox" name="dorm_tent" {% if camper.dorm_tent %} checked {% endif %} /> <br/>

Structures bringing:<br/> 
<textarea name="structure_info" rows=5 cols=80>{{camper.structure_info}}</textarea>

<input type="submit" action="/camper/edit"/ value="Save"/>

<h2> Food Info </h2>

Dietary Type:
<select name="food_type">
  <option value="{{camper.food_type}}">{{camper.food_type}}</option>
  <option value="omnivore">Omnivore/Carnivore</option>
  <option value="pescatarian">Pescatarian</option>
  <option value="vegitarian">Vegitarian</option>
  <option value="vegan">Vegan</option>
  <option value="raw">Raw Vegan</option>
</select>
<br/>
Eats Beef<input type="checkbox" name="eats_beef" {% if camper.eats_beef %} checked {% endif%}/><br/>
Eats Chicken<input type="checkbox" name="eats_chicken" {% if camper.eats_chicken %} checked {% endif%}/><br/>
Eats Pork<input type="checkbox" name="eats_pork" {% if camper.eats_pork %} checked {% endif%}/><br/>
Eats Bacon<input type="checkbox" name="eats_bacon" {% if camper.eats_bacon %} checked {% endif%}/><br/>
Eats Tofu<input type="checkbox" name="eats_tofu" {% if camper.eats_tofu %} checked {% endif%}/><br/>
Eats Fish<input type="checkbox" name="eats_fish" {% if camper.eats_fish %} checked {% endif%}/><br/>

Dietary Restrictions:<br/>
<textarea name="dietary_restriction" rows=5 cols=80>{{camper.dietary_restriction}}</textarea>


<br/>
<input type="submit" action="/camper/edit"/ value="Save"/>

  <input type="hidden" name="eats_human" value="{% if camper.eats_human %}on{% else %}off{% endif %}"/>
</form>


{% endblock %}
