{% extends "main.html" %}

{% block subtitle %}
How to be a HeeBee
{% endblock %}

{% block content %}
  
  <div id="pagecopy"> 
    <div class="h2">So you want to be a HeeBeeGeeBee Healer?</div>
    <p><b class="h3">Awesome!</b> Let us share with you some information about 
      our camp. If you want a little primer about Burning Man, go to the <a href="http://www.burningman.com" target="blank">Burning 
      Man website</a>. Here is our mission statement: <br>
    </p>
    <div class="quote">HeeBeeGeeBee Healers is a grounded oasis that creates a 
      nurturing environment and provides healing services for the HeeBeeGeeBee 
      community, and all of Black Rock City. Our community's intention is for 
      the healing energy we cultivate to spread into the greater world, promoting 
      love, healing and a higher state of being for everyone.</div>
    <br>
    <div class="h3">So that's it in a nut shell. You want a bit more info? Ok, 
      here it goes...We have 2 ways to get involved with our camp: Camp Membership 
      and Guest Healer. 

<!--- If you are interested in being a Guest Healer, click this&quot;<a href="guesthealer.php">Guest 
      Healer</a>&quot; link, otherwise, read on...--></div>
    <p>Believe it or not there are a huge number of camps at Burning Man with 
      the main focus to go to the playa to create art, party like a rock star, 
      build something huge while alienating all of their friends in order to burn 
      it or any variation on this theme. Our goal as a camp is to create a space 
      that allows us to explore our higher calling in our favorite city on the 
      planet. We achieve this while still having a blast, meeting new people, 
      expanding our horizons and growing as individuals and as a community. <br>
      <br>
      In order to make a huge and wonderful camp happen that has the ability to 
      transform lives long after Black Rock City is gone, it takes a committed 
      community effort. Every day on the playa our camp is filled to the brim. 
      People from all over the city find us and hang out for a day enjoying our 
      classes or some body work. Some people come back every day and make our 
      camp a huge part of their experience while one person may just stager in 
      and really need some help to make it another day. Our community has to stand 
      up, take care of ourselves and provide for everyone else. This is a tall 
      order under normal circumstances, much less with the added extremes of the 
      playa. But most importantly, we have to have fun during what may be the 
      peak experience of our year.<br>
    </p>
    <div class="h2">Welcome to our community</div>
    <p>This is the core tenet of our community; we are here to fully realize the 
      Burning Man ethos of "Participate!". We all have to commit to being an active 
      part of the community. <strong>Every HeeBeeGeeBee commits to being involved 
      in the operation of the camp by joining one of the committees.</strong> 
      A wide range of committees exist, from Kitchen to Healing; the list goes 
      on. Please take a look through the website and see which suits your skills 
      and desires best. These committees provide you, the camper, with a focus 
      inside our camp. Plus this helps the camp run more smoothly and creates 
      a community inside of our larger HeeBeeGeeBee community. <strong>Secondly, 
      every camper is strongly urged tgo help with either set up or strike so 
      we can build a big beautiful camp with out killing ourselves - plus, their 
      are BIG rebates on camp dues!</strong><br>
    </p>
    <div class="h2">How Much Are Camp Dues?</div>
    <p> We eat, drink, and shower regularly in our amazing state of the art playa 
      accommodations. We prepare 3 meals a day and supply your shower water. We 
      have structures that shield us from the elements and we have wall to wall 
      carpet in our healing space! Pretty cushy playa digs. But alas, there is 
      a cost to this luxury. The cost to store, transport, feed and water 65 people 
      is $21,000 each year. To cover these costs, our camp fees range from $200 
      to $400, depending on your level of participation with camp setup and strke. 
      In an effort to compensate those who go the extra mile to bring our camp 
      to the playa, we have set up the following discounts and rebates: </p>
    <table width="75%" border="1" align="center">
      <tr> 
        <td width="73%">Early Pay (Fees received prior to April 30)</td>
        <td width="27%"><div align="center">$50 Discount</div></td>
      </tr>
      <tr> 
        <td>Early Team (In Reno on August 22nd)</td>
        <td><div align="center">$100 Rebate</div></td>
      </tr>
      <tr> 
        <td>Strike Team (Stick with us until Monday 8pm)</td>
        <td><div align="center">$50 Rebate</div></td>
      </tr>
    </table>
    <div align="center"> 
      <p>Rebates for Early Team and Strike will paid on Playa.<br>
        <a href="scholarship.php">Scholarships</a> are available for those who 
        need financial assistance.</p>
      <p>&nbsp;</p>
    </div>
    <div class="h2">Early Team</div>
    <p> We will have a small crew (12-16 people) arrive a week before the event 
      to shop, do last minute prep and get on Playa to build camp. We'll meet 
      in Reno on Sunday night, August 22nd, do some shopping and organizing on 
      Monday, and head for the Playa Tuesday morning, August 24th. Early Team 
      meals are covered by camp beginning Monday morning. If you are interested 
      in Early Team, note your interest on the <a href="registration.php">camp 
      registration</a> form.</p>
    <div class="quote"></div>
    <div class="h2"> 
      <p>A Quick Summary</p>
    </div>
    <li> We create a healing community on the playa that is a "frikin" blast while 
      also creating a space for the transformation of lives so greatly needed 
      in our world. 
    <li> We each participate fully by joining a committee and being available 
      for either set up or strike (or both if you have the time). 
    <li> We each financially support the camp with our camp dues. 
    <li> We engage in our community and enjoy ourselves fully. 
    <li> We support each other with love, understanding and communication. 
    <li> We share our beer, our whiskey, and red bull. 
    <li> We shower together to create a stronger community and to save water (at 
      your own discretion). 
      <div class="quote"> 
        <p>"The first requisite of a good citizen in this community of ours is 
          that they shall be able and willing to pull their weight -- that they 
          shall not be a mere passenger" quote stolen from some Teddy Roosevelt.<br>
        </p>
      </div>
      <div class="h2"> 
        <p>Next Steps...</p>
      </div>
      <ul>
	<li> Find a <a href="/committees/index.php">committee</a> that suits your 
      skill set or that you would like to experience. 
	<li> Fill out our <a href="registration.php">Camper Registration</a>. 
	<li> Meet the rest of us by joining the <a href="http://groups.yahoo.com/group/Heebeegeebee_Healers/" target="_blank">HeeBeeGeeBee 
      Healers Yahoo Group</a>. 
        <li> <a href="fees.php">Pay your camp fees</a>. 
        <li> Review our <a href="/leave-no-trace.php">Leave No Trace</a> plan. 
	<li> Ask questions and gather your gear. We have a camp to build. <br>
      </ul>
      <br>
      <div class="h3">Being a HeeBeeGeeBee Healer makes this vision everyone's 
        reality!</div>
      <br>
      <br>
  </div>

{% endblock %}
