<html>
<head>
    <title>HeeBeeGeeBee Healers - Healing Oasis at Burning Man 2011</title>
    <link rel="stylesheet" type="text/css" href="/heebee_style.css">
</head>

<body class="home">

    <img src="/images/homeblock.jpg" width="882" height="570" border="0" alt="HeeBeeGeeBee Healers is a grounded oasis that creates a nurturing environment and provides healing services for the HeeBeeGeeBee community, and all of Black Rock City. Our community's intention is for the healing energy we cultivate to spread into the greater world, promoting love, healing and a higher state of being for everyone.">

    <a href="main.html">Welcome to the heebees!</a>

</body>
</html>



