{% extends "main.html" %}

{% block subtitle %}
Leave No Trace Plan
{% endblock %}

{% block content %}
<div id="pagecopy"> 
    <div class="h2">HeeBeeGeeBee LNT Plan for Burning Man 2010</div>
    <p>The Heebeegeebee Healers have been to burning man since 2000. We have been 
      growing, giving and learning along the way. This year we plan to expand 
      our camp to a maximum of 65 campers. In order to insure that we leave no 
      trace, we must have a solid plan to succeed. Fortunately, we do! <span class="h3">Pre 
      playa preparations</span> </p>
    <ol>
      <li> First and foremost, we think about what kinds of things we will need 
        to survive. Those things typically leave waste, and are packaged in some 
        form of waste. We lessen this by using items which are durable and can 
        be reused each year, are recyclable, are safely burned or can be taken 
        away with us when we leave the playa. 
      <li> We avoid bringing items, which easily become MOOP such as feather boas, 
        loose sequin clothing, small trinkets, flimsy paper or coverings, messy 
        carpet and glass bottles. 
      <li> We set up our camp in an organized manner that is easy to keep clean. 
        We do this by having a crew of experienced and novice Heebees working 
        in separate departments. Each department maintains it's own standards 
        and practices by detailing what we are bringing, how it will be transported, 
        maintained during the event and safely packed away so that it can vanish 
        from the playa. 
    </ol>
    <p><br>
      We will designate a resident as the camp LNT expert. This person will ensure 
      that our camp stays clean before, during and after the event. We will have 
      much laughter around us at various points through out the event and remain 
      squeaky clean in the process as the Grand Poobah Rev. Blazo likes us to 
      smell as lovely as we look. We will ask for assistance from our neighbors 
      and fellow BRC citizens if and when it is needed. They will also enroll 
      the committee leads in planning our purchases and encourage the Heebees 
      to reuse / recycle / reduce. They will be there until the bitter end when 
      we strike the last bit of shade and sweep our camp for every last trace. 
      We will make sure that nothing is left behind. </p> </p>
    <p><br>
      <span class="h3">To minimize our impact on the Playa, we will follow these 
      rules:</span> </p>
    <ul>
      <li> We pledge to Leave No Trace in and around our campsite and village 
        including our own and other's waste. We will plan to put time aside for 
        the cleanup, and plan the assembly and takedown of or structures and beautifications 
        to simplify their removal. We will keep our recyclables, burnables, and 
        non-burnables separated for easier disposal, recycle our aluminum, and 
        bring no glass to the Playa. 
      <li> We will clean as we go, realizing that any trash or MOOP can blow away 
        or be buried at any moment. We have assigned volunteers to check around 
        camp in daily shifts for loose MOOP in all departments including, Playa 
        Operations, Nutrition and Infrastructure. We will take care of any trash 
        left by our guest, invited or otherwise. 
      <li> We won't dig holes more than 6 inches in diameter or trenches, scarring 
        the playa. We also use base boards for our parachute structures to prevent 
        scarring from the support poles. 
      <li> We will leave extra space in every vehicle on the way to the desert, 
        knowing that repacking will inevitably take up more space. We will take 
        all trash in sealed containers to the landfill and recycling once during 
        the event and Tuesday following the event in Fernley. Our gray water will 
        be hauled away by Johnny on the Spot on Tuesday, Friday and at the conclusion 
        of the event. Every one in our camp will also devote at a minimum of two 
        hours city cleanup. In the past, we have adopted the toilets nearest our 
        camp and routinely made MOOP sweeps in addition to MOOPing through the 
        event. 
      <li> We will pack out everything and we won't put any trash into the port-o-potties 
        or leave any trash near the potties. They are not a public trash dump, 
        and we want to keep our toilets functional and our city beautiful. 
    </ul>
    <span class="h3">We will bring the following items for Cleanup day (Sunday, 
    Monday and Tuesday)</span> 
    <ul>
      <li> Flat blade shovels 
      <li> Big Broom and shop vacs 
      <li> 50 gallon plastic trash barrel for kitchen towels and messy stuff 
      <li> Separate containers for recyclables, burned refuse and non-burnables. 
      <li> Rope and string for tying loose items down. 
      <li> Small spare bags for collecting trash as we enjoy the city. 
      <li> Lots of industrial strength trash bagsƒthe big black kind. 
      <li> Work gloves for those who have forgotten. 
      <li> Several long-handled sledgehammers and rebar removers. 
      <li> Tins for the butts of smokers. 
      <li> Tools to remove, breakdown and store gear. Magnets for picking up small 
        pieces of metal. 
      <li> Directions to the Fernley dump and recycling center as well as times 
        of operation. 
    </ul>
    <span class="h3">Helpful Tips to include in the Heebee LNT plan</span> 
    <ul>
      <li> Each department takes the packaging off of just about everything before 
        leaving home. We reuse the same coolers, containers and shade structures 
        each year. We precut, precook and freeze much of the food to eliminate 
        work on the playa. We have a meal plan to increase community in our camp 
        and reduce the amount of waste brought by individual campers. We have 
        a Nutrition department, which plans out each meal with the correct amount 
        of campers to reduce food waste. 
      <li> We realize that packing to leave the Playa is often strenuous, time 
        restrained and not having enough room to take it all home. We are renting 
        storage in a local unit this year to provide additional storage on our 
        way home. Our goal is to take every thing that we brought with us and 
        a bit more too. 
      <li> We strive to never let anything in our camp or on the playa hit the 
        ground. We recommend carrying a bag with necessities when traveling in 
        camp, the village and the city and enough room to pick up MOOP along the 
        way. When we do bring glass, we keep it in camp. We regularly make sweeps 
        to pick up anything, which could blow away and maintain our infrastructure. 
      <li> If it doesn't come out of our bodies, naturally, we don't put it in 
        the potties. We enjoy the privilege of using the port-o-potties and realize 
        the importance of keeping them free of trash and debris. 
      <li> Burning Man has shifted our perspectives and we realize that Change 
        is Possible. We take the lessons we've learned, including living in a 
        waste-free manner, home with us. 
      <li> We are a community inside a larger society of activist, engaged in 
        radical self-expression and radical self-reliance. We are aware of the 
        waste we generate, both physically and energetically, and we take care 
        that none of it affects the desert or our fellow citizens. 
    </ul>
    <br>
    <br>
</div>

{% endblock %}
