{% extends "main.html" %}

{% block subtitle %}
Logistics
{% endblock %}

{% block content %}
<div id="pagecopy"> 
    <div class="h2">HeeBeeGeeBee Healers Camp</div>
    The HeeBeeGeeBee Healers physical camp area consists of The Healing Space, 
    The Classroom, The Meditation Tent, The Kitchen and Dining Tents and The Dorm 
    Tents. All of these structures, except the Meditation Tent, are based around 
    a parachute structure that is much like a circus tent. Each of these tents 
    allows us to have a large central space, 50 ft in diameter, with only one 
    center pole. Each of the spaces also has a second ceiling to minimize the 
    sun during the heat of the day and sidewalls that come down in case of a windstorm. 
    The Healing Space and the Classroom Space are both fully carpeted. Built in 
    previous years, all of the tents just need to be repaired and reassembled. 
    Awesome! Our goal is to place the camp in the city on the large blocks between 
    4:00 and 5:00 on the map.<br>
    <br>
    
    <span class="h3">We have also built a shower system,</span> a grey water system, 
    and a potable water system. So all of your washing, cleaning and drinking 
    needs are taken care of right in camp. You don't need to bring your own water. 
    This saves on waste and eases your demands getting on and off of the playa. <br>
    <br>
    
    <span class="h3">Thanks to our lighting fairies,</span> including Snowcone Solar, 
    over the years we accumulated lighting to illuminate all of our structures. 
    We also have sound systems for the Healing Space and hopefully the Classroom Space. 
    So you won't be able to blow dry your hair, but you will be able to see at night 
    and groove to tunes both day and night. In order to have a steady supply of 
    power, we have multiple generators and we lay out an electrical grid to get 
    the power where it needs to be. We are often part of a village called Nectar Village. 
    Another camp in Nectar Village, Snowcone Solar, provides us all with nice clean solar power. <br>
    <br>
    
    <span class="h3">Did I mention we have a kitchen?</span> We have built an 
    amazing kitchen that can feed 60 to 70 people three meals a day. We are planning 
    two hot meals a day, breakfast and supper, and a lunch deli spread including 
    leftovers from the night before. And for your grazing pleasure, there will 
    be a snack area. The dining tent can hold all of us at each meal. <br>
    <br>
    The Camp is going to be set up so that our public spaces are placed front 
    and center, the main focus for our guests. Our personal space including the 
    Kitchen, shower, water, dorm tents, etc. will be placed behind or to the side 
    of the Healing Space. We want to have our campers and all of our community 
    facilities together, allowing us to be a tighter community and facilitate 
    a simpler more enjoyable playa experience. <br>
    <br>
    
  </div>
{% endblock %}
