{% extends "logistics.html" %}

{% block subtitle %}
Logistics: Mealplan
{% endblock %}

{% block content %}
<span class="h3">The HeeBee Meal Plan rules!</span> We are 
    looking to create a meal plan that serves 2 hot meals a day and a deli style 
    lunch. We work hard to make sure that every one has their nutritional needs 
    met at every meal. Breakfast is served from 8 to 10 am, lunch from 12:30 to 
    2pm and the dinner is from 6 to 7:30. We will also have a snack area that 
    will be available through out the day. We will make sure that you are always 
    fed so you can live large on the playa. <br> 
    <br> 
    In order to make this meal plan work we need to have a solid group of volunteers 
    that are willing to work with us in the playa. The volunteers will create 
    their schedules to make sure that everything gets done and everyone has a 
    great time on the playa. Most of the cooking is done off the playa, frozen 
    and then finished on the playa. Yummy food, prepared with love and sometimes 
    served naked. That's a HeeBee Meal Plan. <br> 
{% endblock %}
