{% extends "logistics.html" %}

{% block subtitle %}
Logistics: Timeline
{% endblock %}

{% block content %}
<div class="h3">The HeeBeeGeeBee Time Line from now until we get back home:</div> 
    Since we have built most of the stuff we need for our camp, 2010 is a year 
    of refinement. We are taking this time before the playa to figure out how 
    we can operate our camp more smoothly and sanely on the playa. In order to 
    do that we are asking all of our camp members to participate in one of our 
<a href="/committees.html">Committees</a>. This way everyone has a place to focus 
    their time and energy on the playa. Our goal is to maximize everyone's efforts 
    while we honor their time and energy. If we all participate we will all enjoy 
    the benefits of our labor and the individual labor will be small. If we do 
    not all participate then we push the weight to a few and we all suffer! 
<div class="h3">So...</div> 
<div class="quote">Full Participation = Every Camper + Commitment = Light 
      Load <br> 
  Limited Participation = Some Campers x Huge Workload = Burnout and HeeBees 
  No More </div> 
<br> 
So how we do spend some of our time this summer and some of our time on the 
playa creating a great camp? Check out our Calendar to see when events, meetings, 
gatherings and parties are, attend and participate. <br> 
<br> 
<div class="h2">General Calendar</div> 
<span class="h3">March 1</span> HeeBee Web Site up and Running, Registration 
Begins for Returning HeeBees<br> 
<span class="h3">March 15</span> Registration opens for HeeBee friends and 
family<br> 
<span class="h3">Aug 6/7/8</span> Cooking Weekend in Colorado<br> 
<span class="h3">Aug 22</span> Early Team meets in Reno<span class="h3"><br> 
  Aug 30</span> HeeBees are opening for business - Camp meeting at 10am<br> 
<span class="h3">Aug 30</span> HeeBeeGeeBee Opening Circle (after dinner)<br> 
<span class="h3">Aug 30 - Sept 4</span> HeeBeeGeeBee Up and Running<br> 
<span class="h3">Sept 5</span> Temple Burns and HeeBees start strike<br> 
<span class="h3">Sept 6</span> HeeBees Strike Camp and get our gear and our 
asses off the playa.<br> 
<br> 
{% endblock %}
