<html>
  <head>
    <title>Welcome to the HeeBeeGeeBee Healers</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
  </head>


<body>
  {% block head %} 
  <div id="sublogo">
    <img src="/images/logo_sub.jpg" width="900" height="226" border="0" alt="HeeBeeGeeBee Healers">
  </div>
  {% endblock %}

  {% block leftnav %}
  <div class="divLeftNav">

    <div class="topnav"><a href="how_to_be_a_heebee.html">HOW TO BE A HEEBEE</a>
      <div class="secondnav"><a href="/register">CAMP REGISTRATION</a></div>
    </div>
	
    <div class="topnav"><a href="member_info.html">CAMP MEMBER INFO</a>
      <div class="secondnav"><a href="logistics.html">CAMP LOGISTICS</a></div>
      <div class="secondnav"><a href="committees.html">COMMITTEES</a></div>
<!--      <div class="secondnav"><a href="current_campers.html">CURRENT CAMPERS</a></div> -->
      <div class="secondnav"><a href="survival_guide.html">SURVIVAL GUIDE</a></div>
<!--      <div class="secondnav"><a href="photo_gallery.html">PHOTO GALLERY</a></div> -->
    </div>

    <div class="topnav"><a href="playa_offerings.html">PLAYA OFFERINGS</a>
      <div class="secondnav"><a href="classroom_schedule.html">CLASSROOM SCHEDULE</a></div>
      <div class="secondnav"><a href="leave_no_trace_plan.html">LEAVE NO TRACE PLAN</a></div>
<!--      <div class="secondnav"><a href="camp_site_plan.html">CAMP SITE PLAN</a></div> -->
    </div>

    <div class="topnav"><a href="contact_us.html">CONTACT US</a>
    </div>

    <div class="topnav"><a href="/">HOME</a>
    </div>

  </div> <!-- end divLeftnaf-->
  {% endblock %}

  <div class="divSubtitle">
  {% block subtitle %}
  {% endblock %}
  </div>

  <div class="divContent">
  {% block content %}
  {% endblock %}
  <div style="text-align: center;"><img src="/images/bottomcurls.gif" width="537" height="54" border="0"></div>
  </div>

  <div class="divClearFloats"></div>
  
</body>
</html>
