
<html>
  <head>
    <title>Meals Report</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
  </head>

  <body>
    <p><a href="/admin">Back to the main admin page</a></p>

    {% for date in date_counts %}
    <h3> {{date.date}} </h3>
    Total: {{ date.total}} <br/>
    Omnivore: {{ date.omnivore }} <br/>
    Pescatarian: {{ date.pescatarian }} <br/>
    Vegetarian: {{ date.vegitarian }} <br/>
    Vegan: {{ date.vegan }} <br/>
    Raw: {{ date.raw }} <br/>
    Eats Beef: {{ date.beef }} <br/>
    Eats Chicken: {{ date.chicken }} <br/>
    Eats Pork: {{ date.pork }} <br/>
    Eats Bacon: {{ date.bacon }} <br/>
    Eats Fish: {{ date.fish }} <br/>
    Eats Tofu: {{ date.tofu }} <br/>
    Eats Human: {{ date.human }} <br/>
    Restrictions:
      {% for r in data.restrictions %}
        <br/> {{ r }}
      {% endfor %}
    <p><a href="/admin">Back to the main admin page</a></p>
    {% endfor %}
  </body>
</html>
