
<html>
  <head>
    <title>Meals Report</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
  </head>

  <body>
    <p><a href="/admin">Back to the main admin page</a></p>

    {% for date in date_counts.items %}
    <h3> {{date.0}} </h3>
    Total: {{ date.1.total}} <br/>
    Omnivore: {{ date.1.omnivore }} <br/>
    Pescatarian: {{ date.1.pescatarian }} <br/>
    Vegetarian: {{ date.1.vegitarian }} <br/>
    Vegan: {{ date.1.vegan }} <br/>
    Raw: {{ date.1.raw }} <br/>
    Eats Beef: {{ date.1.beef }} <br/>
    Eats Chicken: {{ date.1.chicken }} <br/>
    Eats Pork: {{ date.1.pork }} <br/>
    Eats Bacon: {{ date.1.bacon }} <br/>
    Eats Fish: {{ date.1.fish }} <br/>
    Eats Tofu: {{ date.1.tofu }} <br/>
    Eats Human: {{ date.1.human }} <br/>
    Restrictions:
      {% for r in data.1.restrictions %}
        <br/> {{ r }}
      {% endfor %}
    <p><a href="/admin">Back to the main admin page</a></p>
    {% endfor %}
  </body>
</html>
