<html>
  <head>
    <title>Meal Planning Spreadsheet</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
  </head>

  <body>
    <p><a href="/admin">Back to the main admin page</a></p>
    <p>Spreadsheet can be manually visited <a href="https://spreadsheets.google.com/ccc?key=0Amhkv4TQEyq7dHN2N01jcUxzdFk0ZGFxSTlveUR3X1E&hl=en&authkey=COLAx_wJ">here</a></p>
    <p>Please note that the spreadsheet does NOT automatically update. To cause an update, click on the first cell (A1) and change the number in the URL</p>
    <iframe width="98%" height="95%" align="center" src="https://spreadsheets.google.com/ccc?key=0Amhkv4TQEyq7dHN2N01jcUxzdFk0ZGFxSTlveUR3X1E&hl=en&authkey=COLAx_wJ"/>
  </body>
</html>
