{% extends "main.html" %}

{% block subtitle %}
Camp Information
{% endblock %}

{% block content %}
<div id="pagecopy"> 
    <div class="h2">Welcome HeeBees</div>
    <p><span class="h3">Camp Layout.</span> The HeeBeeGeeBee Healers physical 
      camp area consists of The Healing Space, The Classroom, The Meditation Tent, 
      The Kitchen and Dining Tents and The Dorm Tents. All of these structures, 
      except the Meditation Tent, are based around a parachute structure that 
      is much like a circus tent. Each of these tents allows us to have a large 
      central space, 44 ft in diameter, with only one center pole. Each of the 
      spaces also has a second ceiling to minimize the sun during the heat of 
      the day and sidewalls that come down in case of a windstorm. The Healing 
      Space and the Classroom Space are both fully carpeted. Built in previous 
      years, all of the tents just need to be repaired and reassembled. Our goal 
      is to place the camp on the &quot;D&quot; street between 4:00 and 5:00. 
      The camp structures are going to be set up so that our public spaces are 
      placed front and center, the main focus for our guests. Our personal space 
      including the Kitchen, shower, water, dorm tents, etc. will be placed behind 
      the Healing Space. We want to have our campers and all of our community 
      facilities together, allowing us to be a tighter community and facilitate 
      a simpler more enjoyable playa experience. </p>
    <p> <span class="h3">Thanks to our lighting fairies,</span> we accumulated 
      lighting to illuminate all of our structures. We also have sound systems 
      for the Healing Space and the Classroom Space. You won't be able to blow 
      dry your hair, but you will be able to see at night and groove to tunes 
      both day and night. In order to have a steady supply of power, we have multiple 
      generators and we lay out an electrical grid to get the power where it needs 
      to be. <br>
      <br>
      <span class="h3">Did I mention we have a kitchen?</span> We have built an 
      amazing kitchen that can feed 60 to 70 people three meals a day. We create 
      a meal plan that serves 2 hot meals a day and a deli style lunch. We work 
      hard to make sure that every one has their nutritional needs met at every 
      meal. Breakfast is served from 8 to 10 am, lunch from 12:30 to 2pm and the 
      dinner is from 6 to 7:30. We will also have a snack area that will be available 
      through out the day and night. We will make sure that you are always fed 
      so you can live large on the playa. Yummy food, prepared with love and sometimes 
      served naked. That's a HeeBee Meal Plan. <br>
    </p>
    <div class="h2">General Calendar</div>
    <p>
      <span class="h3"><br>April 15</span> Registration opens<br>
      <span class="h3">April 30</span> Early Payment Deadline<br>      
    </p>
    <p><br>
      <br>
      <!--You can see our site plan online.-->
    </p>
  </div>
{% endblock %}
