{% extends "main.html" %}

{% block subtitle %}
Playa Offerings {{ camp.year }}
{% endblock %}

{% block content %}
<div id="pagecopy"> 
    <div class="h2"> 
      <p>Offerings of The HeeBeeGeeBee Healers</p>
      <p>&nbsp;</p>
    </div>
    <p><span class="h3">Opening Ceremonial Circle: Monday Night After Dinner ~</span> 
      At the Opening Ceremonial Circle in the Healing Tent we officially kick 
      off the week. This is our time to share, start wheels spinning, meet one 
      another and revel in the beauty of what we have created. <br>
      <br>
      <span class="h3">Healing Space Schedule: Monday through Saturday~</span> 
      On Sunday from 11:00 am - 2:00 pm, there are no organized sessions in the 
      healing space. People are free use the space and supplies that remain there.<br>
      <br>
      <b>8:30-9:45a</b> ~Yoga<br>
      <b>10a-6p</b> ~Healing Sessions and Spiritual Work<br>
      <br>
      <span class="h3">Healing Modalities ~</span> The HeeBeeGeeBee Healers offer 
      a wide array of spiritual healing therapies using a variety of modalities. 
      The following is a list of some of the modalities our Healers might be offering 
      this year: Reiki, Shiatsu, Energy Medicine, Journey work, Craniosacral, 
      Reflexology, Triggerpoint, Accupressure, Sensual Awakenings, Tantric Healing, 
      Thai Stretching, Shamanic Journeys, Lomi-Lomi, Kodenkan Restoration Therapy, 
      Korillian Adjunct Systemic Balancing, Rolfing, Lymphatic Drainage, Psychic 
      Readings, ARCH energy work, Energy Healings (Chakra, Auras, & Past-Life), 
      Holosync (alpha wave), Sat Nam Rasayan, Alchemical Healing, Somato Respiratory 
      Integration, and Universal White Time Healing. <br>
      <br>
      <span class="h3">Classroom ~</span> Classes will be offered Monday through 
      Saturaday from 7am to 8pm. Presentation of classes is open to anyone. If 
      you wish to present in our classroom space, contact our <a href="mailto:heebeegeebeeclassroom@yahoo.com">Classroom 
      Planner</a> with details of what you want to present, how often and class 
      length.<br>
    </p>
  </div>
{% endblock %}
