<html>
  <head>
    <title>Register for the HeeBeeGeeBees</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
  </head>

  <body>
    <p>So you want to register, huh</p>

    <form action="/register" method="post">
      <div>What is your real name?<br><input type="text" name="realname" /></div>
      <div>What is your playa name?<br><input type="text" name="playaname" /></div>
      <div>What is your email address?<br><input type="text" name="email" /></div>
      <div>What is your phone number?<br><input type="text" name="phone" /></div>
      <div>What is your mailing address?<br><textarea name="address" cols="80" rows="5"></textarea></div>
      <div>Returning HeeBee?<input type="checkbox" name="returning"></div>
      <div><input type="submit" value="Continue" /></div>
    </form>
  </body>
</html>
