<html>
  <head>
    <title>Register for the HeeBeeGeeBees</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
  </head>

  <body>
    <p>So you want to register, huh</p>

    <form action="/register" method="post">
      <div>What is your real name?<br><input type="text" name="realname" /></div>
      <div>What is your email address (we keep it private)?<br><input type="text" name="email" /></div>
      <div><input type="submit" value="Continue" /></div>
    </form>
  </body>
</html>
