{% extends "reg_template.html" %}

{% block subtitle %}
Registration
{% endblock %}

{% block content %}

    <p> <div class="quote"> {{ camp.reg_page_message }} </div> </p>

    <p>Thanks for your interest! We're excited to hear all about you. Please fill out the following registrations forms. All fields on all pages are required.</p>

    <form action="/register" method="post">
      <div>What is your real name?<br><input type="text" name="realname" /></div>
      <div>What is your playa name?<br><input type="text" name="playaname" /></div>
      <div>What is your email address?<br><input type="text" name="email" /></div>
      <div>What is your phone number?<br><input type="text" name="phone" /></div>
      <div>What is your mailing address?<br><textarea name="address" cols="80" rows="5"></textarea></div>
      <div>Returning HeeBee?<input type="checkbox" name="returning"></div>
      <div><input type="submit" value="Continue" /></div>
    </form>

{% endblock %}
