{% extends "reg_template.html" %}

{% block subtitle %}
Playa Info
{% endblock %}

{% block content %}
<form action="/register/playainfo" method="post">

  <div> What is your first choice committee?
    <select name="first_choice_committee">
      {% for committee in camp.committees %}
      <option>{{ committee }}</option>
      {% endfor %}
    </select>
  </div>
      
  <div> What is your second choice committee?
    <select name="second_choice_committee">
      {% for committee in camp.committees %}
      <option>{{ committee }}</option>
      {% endfor %}
    </select>
  </div>

  <div> Why do you want your first choice committee?
    <textarea name="first_choice_reason" rows=10 cols=80></textarea>
  </div>

  <div> Why do you want your second choice committee?
    <textarea name="second_choice_reason" rows=10 cols=80></textarea>
  </div>

  <div> Do you intend to heal in the healing space
    <input type="checkbox" name="wants_to_heal" />
  </div>

  <div> Do you intend to teach in the classroom space
    <input type="checkbox" name="wants_to_teach" onclick="document.getElementById('teaching_info_div').style.display = this.checked ? 'inline' : 'none'"/>
  </div>

  <div id="teaching_info_div" style="display:none"> Please describe the class you would like to teach
    <textarea name="teaching_info" rows="5" cols="80"></textarea>
  </div>      

  <div>I am interested in taking a leadership role with the camp 
    <input type="checkbox" name="wants_to_lead">
  </div>
    
  <div>
    How will you get to burning man?
    <select name="transportation_means">
      <option value="fly">Fly</option>
      <option value="drive">Drive</option>
      <option value="unsure">Not sure</option>
      <option value="want_to_carpool">Want to carpool</option>
      <option value="ride_to_offer">Can offer ride</option>
    </select>
  </div>

  <div>I'm bringing an RV
    <input type="checkbox" name="bringing_rv" onclick="document.getElementById('rv_info_div').style.display = this.checked ? 'inline' : 'none'"/>
  </div>

  <div id="rv_info_div" style="display:none">
    I want a hookup for my RV ($75 charge)<input type="checkbox" name="rv_hookup"/>
    How big is the vehicle? <input type="text" name="rv_info" size="40"/>
  </div>

  <div>
    <div class="quote">
      Our dorm tents are 45' diameter shade/dust protection structures that provide an additional layer of protection against the elements. Heebees set up individual tents inside of the structure. They are very tightly packed and tents are strictly size-limited to a 5'x7' footprint (roughly a standard 3-person tent). You can see a picture <a href="/images/DormTent.JPG" target="_popup">here</a>. Heebees are alternatively to set up their own larger personal tents/structures outside of the dorm tents.
    </div>
    I will be staying in the dorm tent <input type="checkbox" name="dorm_tent" onclick="document.getElementById('structure_info_div').style.display = this.checked ? 'none': 'inline'" checked/>

  </div>

  <div id="structure_info_div" style="display:none">
    Please describe your personal structure (with size info):
    <textarea name="structure_info" rows="10" cols="80"></textarea>
  </div>


  <div id="food_prefs_div">
      
    <div>
      How would you characterize your diet?
      <select name="food_type">
	<option value="omnivore">Omnivore/Carnivore</option>
	<option value="pescatarian">Pescatarian</option>
	<option value="vegitarian">Vegitarian</option>
	<option value="vegan">Vegan</option>
	<option value="raw">Raw Vegan</option>
      </select>
    </div>

    <div>
      Which of the following do you eat? <br/>
      <input type="checkbox" name="eats_beef"/>Beef<br/>
      <input type="checkbox" name="eats_chicken"/>Chicken<br/>
      <input type="checkbox" name="eats_pork"/>Pork<br/>
      <input type="checkbox" name="eats_bacon"/>Bacon<br/>
      <input type="checkbox" name="eats_fish"/>Fish<br/>
      <input type="checkbox" name="eats_tofu"/>Tofu<br/>
    </div>

    <div>
      Any additional dietary restrictions?
      <input type="textarea" rows=4 cols=80 name="dietary_restrictions"/>
    </div>

  </div>

  <div><input type="submit" value="Continue" /></div>
</form>


{% endblock %}
