{% extends "reg_template.html" %}

{% block subtitle %}
Healer Info
{% endblock %}

{% block content %}
<form action="/register/healerinfo" method="post">
  What healing modality or modalities do you wish to offer? <br/>
  <textarea name="modalities" rows="5" cols="80"></textarea>

  <br/>What certifications do you have? <br/>
  <textarea name="certifications" rows="5" cols="80"></textarea>

  <br/>Are you a professional healer?
  <input type="checkbox" name="professional"/>

  <br/>How many years have you been healing for?
  <select name="years_as_healer">
    <option value='0'>Less than 1</option>
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
    <option value='4'>4</option>
    <option value='5'>5+</option>
    <option value='10'>10+</option>
  </select>

  <br/>How many tables are you able to bring?
  <select name="tables_bringing">
    <option value='0'>None</option>
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3+</option>
  </select>

  <br/>I am interested in working as a triage healer
  <input type="checkbox" name="triage"/>

  <br/>What is your preferred time of day to heal?
  <select name="preferred_time_to_heal">
    <option value="morning">Morning</option>
    <option value="midday">Midday</option>
    <option value="evening">Evening</option>
  </select>
  
  <br/>You are working in the healing space and see something you consider inappropriate happening on the table next to yours. How do you react/respond?
  <br/><textarea name="inappropriate_response" rows="5" cols="80"></textarea>

  <br/>What do you think the minimum qualifications should be to heal in the heebee space should be?
  <textarea name="suggested_qualifications" rows="5" cols="80"></textarea>

  <br/><input type="submit"/>
</form>
{% endblock %}
