{% extends "main.html" %}

{% block subtitle %}
HeeBeeGeeBee Survival Guide
{% endblock %}

{% block content %}

  <div id="pagecopy"> 
  
    <p>HeeBeeGeeBee Healers' Survival Guide is created to help HeeBees prepare 
      for Burning Man and ensure the collective safety and enjoyment of our camp 
      and the entire community. In this issue, you will find all the details of 
      what happens when you arrive on the Playa, the nitty gritty of eating and 
      sleeping, how work shifts are structured and how to shower with a buddy! 
    </p>
    <p>Also provided here is the &quot;Leave No Trace&quot; Plan filed with Black 
      Rock City. Please become familiar with this document as well so that you 
      can become a rocket scientist on how to keep the playa MOOP free. </p>
    <p>Click on the links below to download the 2010 Survival Guide and 2010 LNT 
      Plan.<br>
    </p>
    <p><br>
      <span class='h3'>{{camp.year}} HBGB Survival Guide</span> <a href="/pdf/SurvivalGuide2010.doc">Download 
      the 2010 HeeBeeGeeBee Survival Guide</a> <br>
      <br>
      <br>
      <span class='h3'>{{camp.year}} HBGB Leave No Trace Plan</span> <a href="/pdf/HBGB_LNT2010.pdf">Download 
      the 2010 HeeBeeGeeBee LNT Plan</a> <br>
      <br>
      <br>
      <br>
    </p>
    <div style="text-align: center;">
    	<img src="/images/bottomcurls.gif" width="537" height="54" border="0">
    </div>
    
  </div>
{% endblock %}
